body {
	width: 100%;
	height: 100%;
	margin: 0;
	background: #FAFAFA;
}

.top-nav {
	width: 100%;
	height: 40px;
	border-bottom: 1px solid #ddd;
	display: -webkit-flex;
	display: flex;
	-webkit-justify-content: center;
	justify-content: center;
	-webkit-align-items: center;
	align-items: center;
	box-sizing: border-box;
	background: #FAFAFA;
	position: fixed;
	z-index: 9999;
}

#nav-items {
	margin: 14px 14px;
}

.footer {
	width: 100%;
	height: 40px;
	display: -webkit-flex;
	display: flex;
	-webkit-justify-content: center;
	justify-content: center;
	-webkit-align-items: center;
	align-items: center;
	box-sizing: border-box;
	margin-top: 20px;
	background: #E3E0E0;
	border-top: 1px solid black;
}

#no-footer-margin {
	margin-bottom: -20px;
	border-bottom: none;
}

a:link {
    text-decoration: none;
    color: #000;
}

a:visited {
    text-decoration: none;
    color: #000;
}

a:hover {
    text-decoration: none;
    color: #000;
}

a:active {
    text-decoration: none;
    color: #000;
}

.parent-wrapper {
	display: -webkit-flex;
	display: flex;
	-webkit-align-items: center;
	align-items: center;
}

.user-main-container {
	width: 85%;
	margin: auto;
	-webkit-align-items: center;
	align-items: center;
}

.user-dashboard-container {
	display: -webkit-flex;
	display: flex;
	-webkit-flex-flow: wrap;
	flex-flow: wrap;
	-webkit-justify-content: space-around;
	justify-content: space-around;
	width: 90%;
	margin: auto;
}

.user-90-percent-container {
	display: -webkit-flex;
	display: flex;
	-webkit-flex-flow: wrap;
	flex-flow: wrap;
	-webkit-justify-content: space-around;
	justify-content: space-around;
	width: 90%;
}

.home-container {
	display: -webkit-flex;
	display: flex;
	-webkit-flex-flow: wrap;
	flex-flow: wrap;
	-webkit-justify-content: center;
	justify-content: center;
	-webkit-align-items: center;
	align-items: center;
	width: 100%;
}

.home-section-1 {
	display: -webkit-flex;
	display: flex;
	-webkit-flex-flow: wrap;
	flex-flow: wrap;
	width: 100%;
/*	height: 60%;
*/    background: url("Assets/new-home-background-7.jpg") no-repeat center center; 
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	border-bottom: 1px solid #81B0E2;

	/*margin: auto;*/
	-webkit-align-items: center;
	align-items: center;
	cursor: default;
	margin-top: 35px;
}

.home-top-title-container {
	display: -webkit-flex;
	display: flex;
	-webkit-flex-flow: wrap;
	flex-flow: wrap;
	width: 100%;
	-webkit-justify-content: center;
	justify-content: center;
	-webkit-align-items: center;
	align-items: center;
	cursor: default;
/*	border: 1px solid red;
*/}

#button-container {
	margin-top: -30px;
	margin-bottom: 30px;
}

#button-text {
	font-size: 20px;
}

.go-button {
	display: -webkit-flex;
	display: flex;
    width: 125px;
    height: 45px;
    border: 1px solid #2B2B2B;
    border-radius: 8px;
    background: #FFF;
    opacity: 0.8;
    -webkit-justify-content: center;
	justify-content: center;
	-webkit-align-items: center;
	align-items: center;
	z-index: 3;
	cursor: pointer;

	-moz-box-shadow: inset 0 0 6px #7A7A7A;
   	-webkit-box-shadow: inset 0 0 6px #7A7A7A;
   	box-shadow: inset 0 0 6px #7A7A7A;
}

.go-button:hover {
	cursor: pointer;
	border: 1px solid #000;
	opacity: 1.0;

   -moz-box-shadow:    inset 0 0 6px #000;
   -webkit-box-shadow: inset 0 0 6px #000;
   box-shadow:         inset 0 0 6px #000;
}

.bottom-button-container {
	display: -webkit-flex;
	display: flex:
	-webkit-flex-flow: wrap;
	flex-flow; wrap;
	-webkit-align-items: center;
	align-items: center;
	-webkit-justify-content: center;
	justify-content: center;
	width: 100%;
/*	border: 1px solid red;
*/	margin-top: 2px;
}

#bottom-button {
	margin-top: 8px;
	margin-bottom: 22px;
}

.title-text {
	width: 100%;
	align-items: center;
	cursor: default;
}

.home-section-2 {
	display: -webkit-flex;
	display: flex;
	-webkit-flex-flow: wrap;	
	flex-flow: wrap;
	-webkit-justify-content: center;
	justify-content: center;
	-webkit-align-items: center;
	align-items: center;
	margin-top: 35px;
	width: 100%;
	background: #FFF;
	border-top: 1px solid #81B0E2;
	border-bottom: 1px solid #81B0E2;
	cursor: default;
}

#margin-for-fixed-header-home {
	margin-top: 39px;
}

#bottom-margin {
	margin-bottom: 35px;
}

.home-section-container {
	display: -webkit-flex;
	display: flex;
	width: 100%;
	background: #FFF;
	margin: auto;
	-webkit-flex-flow: wrap;
	flex-flow: wrap;
	-webkit-justify-content: center;
	justify-content: center;
	cursor: default;
}

.home-section-container-split {
	width: 33%;
	background: #FFF;
	-webkit-justify-content: center;
	justify-content: center;
	text-align: center;
	cursor: default;
/*	border: 1px solid red;
*/}

#margin-for-split-container {
	margin-top: 15px;
}


#login-info-container-title {
	width: 90%;
	display: -webkit-flex;
	display: flex;
	-webkit-justify-content: center;
	justify-content: center;
	text-align: center;
	cursor: default;
}

.how-it-works {
	width: 88%;
	display: -webkit-flex;
	display: flex;
	-webkit-flex-flow: wrap;
	flex-flow: wrap;
	-webkit-justify-content: space-around;
	justify-content: space-around;
	margin-top: 40px;
}

.box {
	width: 23%;
	display: -webkit-flex;
	display: flex;
	-webkit-flex-flow: wrap;	
	flex-flow: wrap;
	-webkit-justify-content: center;
	justify-content: center;
	-webkit-align-items: center;
	align-items: center;
	margin-bottom: 26px;
}

.how-it-works-sections {
	border-radius: 50%;
	height: 140px;
	width: 140px;
	border: 1px solid #81B0E2;
	display: -webkit-flex;
	display: flex;
	-webkit-flex-flow: wrap;	
	flex-flow: wrap;
	-webkit-justify-content: center;
	justify-content: center;
	-webkit-align-items: center;
	align-items: center;
}

.section-text {
	width: 100%;
	display: -webkit-flex;
	display: flex;
	-webkit-flex-flow: wrap;
	flex-flow: wrap;
	-webkit-justify-content: center;
	justify-content: center;
	-webkit-align-items: center;
	align-items: center;
	margin-top: 18px;
}


#img-50x50 {
	height: 45px;
	margin-bottom: 17px;
	margin-top: 16px;
	text-align: center;
}

.big-icon {
    font-size: 180px;
    margin-top: 10px;
/*    z-index: -1;
*/}

.home-section-sub-container {
	width: 100%;
	margin-top: -30px;
}

#no-margin {
	margin: 0px 2px;
}

#left-align {
	text-align: left;
}

.home-section-3 {
	width: 100%;
	display: -webkit-flex;
	display: flex;
	-webkit-flex-flow: wrap;	
	flex-flow: wrap;
	-webkit-justify-content: center;
	justify-content: center;
}

#circle-widget-margin {
	margin: 30px 40px 22px 0px;
}

.box-on-info-page {
	width: 47%;
	display: -webkit-flex;
	display: flex;
	-webkit-flex-flow: wrap;
	flex-flow: wrap;
	-webkit-align-items: center;
	align-items: center;
}

#connect-widgets-container {
	width: 60%;
	display: -webkit-flex;
	display: flex;
	-webkit-flex-flow: wrap;
	flex-flow: wrap;
	-webkit-justify-content: space-around;
	justify-content: space-around;
	margin-top: 10px;
}


#connect-widgets {
	width: 100px;
	height: 100px;
}

#connect-widgets:hover {
	-moz-box-shadow:    inset 0 0 5px #81B0E2;
  	-webkit-box-shadow: inset 0 0 5px #81B0E2;
 	box-shadow:         inset 0 0 5px #81B0E2;
}

.help-page-container {
	width: 93%;
	display: -webkit-flex;
	display: flex;
	-webkit-flex-flow: wrap;
	flex-flow: wrap;
	-webkit-justify-content: center;
	justify-content: center;
	align-items: left;
}

.text-container-help-page {
	display: -webkit-flex;
	display: flex;
	-webkit-flex-flow: wrap;
	flex-flow: wrap;
	width: 85%;

}

.screenshot-container {
	display: -webkit-flex;
	display: flex;
	-webkit-flex-flow: wrap;
	flex-flow: wrap;
	width: 80%;
	-webkit-align-items: center;
	align-items: center;
	-webkit-justify-content: center;
	justify-content: center;
	margin-bottom: 30px;
}

.image {
	display: -webkit-flex;
	display: flex;
	-webkit-flex-flow: row;
	flex-flow: row;
	-webkit-align-items: center;
	align-items: center;
	-webkit-justify-content: center;
	justify-content: center;
	width: 90%;
	border: 1px solid black;
}

/* FONTS ------------------Generated by Font Squirrel (http://www.fontsquirrel.com) on August 22, 2015 */



@font-face {
    font-family: 'oxygenlight';
    src: url('oxygen-light-webfont.eot');
    src: url('oxygen-light-webfont.eot?#iefix') format('embedded-opentype'),
         url('oxygen-light-webfont.woff2') format('woff2'),
         url('oxygen-light-webfont.woff') format('woff'),
         url('oxygen-light-webfont.ttf') format('truetype'),
         url('oxygen-light-webfont.svg#oxygenlight') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'rock_saltregular';
    src: url('rocksalt-webfont.eot');
    src: url('rocksalt-webfont.eot?#iefix') format('embedded-opentype'),
         url('rocksalt-webfont.woff2') format('woff2'),
         url('rocksalt-webfont.woff') format('woff'),
         url('rocksalt-webfont.ttf') format('truetype'),
         url('rocksalt-webfont.svg#rock_saltregular') format('svg');
    font-weight: normal;
    font-style: normal;

}

/*----------------------*/





h1 {
	font-family: "oxygenlight", "Myriad Set Pro", sans-serif;
	font-size: 75px;
}

#rock-salt {
	display: -webkit-flex;
	display: flex;
	-webkit-flex-flow: wrap;	
    flex-flow: wrap;
    -webkit-align-items: center;
    align-items: center;
    -webkit-justify-content: center;
    justify-content: center;
	font-family: "rock_saltregular", "oxygenlight", "Myriad Set Pro", sans-serif;	
	font-size: 105px;
	color: #343438;
	margin-top: 0px;
	margin-bottom: 0px;
}

#main-text {
	margin: 20px 0 50px 0;
}

h2 {
	font-family: "oxygenlight", "Myriad Set Pro", sans-serif;
	font-size: 40px;
	text-align: center;
}

#smaller-h2 {
	font-size: 32px;
	margin: 10px;
}

#welcome-text {
	margin: 7px;
}

#user-view-main-text {
	margin: 7px;
	font-size: 28px;
}

#h2-text {
	font-family: "oxygenlight", "Myriad Set Pro", sans-serif;
	font-size: 40px;
	padding-left: 10px;
}

h3 {
	font-family: "oxygenlight", "Myriad Set Pro", sans-serif;
	font-size: 18px;
	text-align: center;
	letter-spacing: 0.5px;
}

#h3-text {
	font-size: 18px;
	margin: 8px;
}

.quote {
	display: -webkit-flex;
	display: flex;
	-webkit-flex-flow: wrap;
	flex-flow: wrap;
	-webkit-justify-content: center;
	justify-content: center;
	-webkit-align-items: center;
	align-items: center;
	width: 90%;
}

h4 {
	font-family: "oxygenlight", "Myriad Set Pro", sans-serif;
	font-size: 20px;
	text-align: center;
	letter-spacing: 0.5px;
}

h5 {
	font-family: "oxygenlight", "Myriad Set Pro", sans-serif;
	font-size: 14px;
	text-align: center;
}

#h5-text {
	margin: 0px;
}

h6 {
	font-family: "oxygenlight", "Myriad Set Pro", sans-serif;
	font-size: 13px;
	text-align: center;
}

#h6-text {
	margin-top: 0px;
	margin-bottom: 8px;
}

.bigger-h6 {
	font-size: 16px;
}

.chart-wrapper {
	margin-top: 20px;
	margin: auto;
	display: -webkit-flex;
	display: flex;
	-webkit-flex-flow: wrap;
	flex-flow: wrap;
	width: 90%;
	-webkit-justify-content: center;
	justify-content: space-around;
	/*border: 1px solid red;*/
}

.sm-widget {
	width: 30%;
	background: #FFF;
	border: 1px solid #81B0E2;
	border-radius: 15px;
	margin-top: 15px;
}

#sm-widget-header {
	width: 90%;
	margin-top: 55px;
}

#sm-widget-smaller {
	width: 45%;
}

.lg-widget {
	width: 90%;
	background: #FFF;
	border: 1px solid #81B0E2;
	border-radius: 15px;
}

#lg-widget-header {
	margin-top: 15px;
	margin-bottom: 15px;
	width: 90%;
}

.spacer {
	margin: 15px;
}

@media (max-width: 1340px) {

	.home-section-container-split {
		width: 45%;
	}
}

@media (max-width: 1120px) {
	.user-main-container {
		width: 95%;
	}
}

@media (max-width: 1010px) {

	#left-align {
		text-align: center;
	}

	.user-main-container {
		width: 100%;
	}

	.home-section-container-split {
		width: 90%;
	}

	.box {
		width: 49%;
	}
}

@media (max-width: 950px) {
	#sm-widget-smaller {
		width: 85%;
	}
}

@media (max-width: 900px) {
	.sm-widget {
		width: 90%;
	}
}

@media (max-width: 700px) {
	#rock-salt {
		font-size: 85px;
	}

/*	.go-button {
		width: 150px;
		height: 50px;
	}*/

	.box-on-info-page {
		width: 80%;
	}

	#circle-widget-margin {
		margin: 30px 0px 0px 0px;
	}
}

@media (max-width: 600px) {

	#rock-salt {
		font-size: 60px;
	}

	#button-container {
		margin-top: -17px;
	}

	.go-button {
		width: 85px;
		height: 35px;
	}

	#button-text {
		font-size: 16px;
	}
}

@media (max-width: 550px) {
	.sm-widget {
		width: 99%;
	}

	#sm-widget-smaller {
		width: 99%;
	}
}

@media (max-width: 475px) {
	.box {
		width: 100%;
	}

	.how-it-works-sections {
		height: 110px;
		width: 110px;
		font-size: 14px;
	}
}

@media (max-width: 450px) {

	#rock-salt {
		font-size: 45px;
	}

	#button-container {
		margin-top: -15px;
	}

	#user-view-main-text {
		font-size: 36px;
	}
}






