/* * {
	border: 1px solid green;
}*/

body {
	width: 100%;
	height: 100%;
	margin: 0;
	background: #F7F7F7;
}

.container {
	display: flex;
	flex-flow: row;
	width: 100%;
	height: 100%;
}

.main {
	width: 45%;
	margin: auto; 
	padding-bottom: 15px;
	background: #FFF;
	border: 8px solid #81B0E2;
	border-radius: 30px;

}

.sub-main {
	margin-top: -45px;
}

.go-button {
	width: 110px;
	height: 35px;
	font-size: 17px;
}

.go-button:hover {
	width: 120px;
	height: 40px;
	font-size: 17px;
}

h1 {
	font-family: "Oxygen", "Myriad Set Pro", sans-serif;
	font-size: 80px;
	text-align: center;
}

#main-text {
	margin: 20px 0 50px 0;
}

h3 {
	font-family: "Oxygen", "Myriad Set Pro", sans-serif;
	font-size: 18px;
	text-align: center;
	letter-spacing: 0.5px;
}

h6 {
	font-family: "Oxygen", "Myriad Set Pro", sans-serif;
	font-size: 12px;
}

.button-container {
	text-align: center;
}

.container-user-1 {
	display: flex;
	flex-flow: row;
	width: 100%;
	height: 30%;
}

.flex-1 {
	width: 30%;
	margin: auto;
	background: #FFF;
	border: 8px solid #A3EBA3;
	border-radius: 30px;
}

.flex-2 {
	width: 30%;
	margin: auto;
	background: #FFF;
	border: 8px solid #A3EBA3;
	border-radius: 30px;
}

.flex-3 {
	width: 30%;
	margin: auto;
	background: #FFF;
	border: 8px solid #A3EBA3;
	border-radius: 30px;
}


.flex-4 {
	width: 100%;
	margin: auto;
	background: #FFF;
	border: 8px solid #C6ACF7;
	border-radius: 30px;
}

.flex-5 {
	width: 100%;
	margin: auto;
	background: #FFF;
	border: 8px solid #F7F89F;
	border-radius: 30px;
}


@media (max-width: 780px) {
	.main {
		width: 100%;
	}
}





