<div ng-if="!fitbitData" class="loading">
  <div class="spinner">
    <div class="bounce1"></div>
    <div class="bounce2"></div>
    <div class="bounce3"></div>
  </div>
  <h2>Loading your Fitbit data</h2>
</div>

<div class="parent-wrapper">
  <div ng-if="fitbitData" class="user-main-container">
    <div class="user-dashboard-container">
      <div class="sm-widget" id="sm-widget-header">
        <div>
          <h4 id="dashboard-header">Fitstantly Dashboard</h4>
          <h5 id="user-welcome">Welcome, {{ username }}</h5>
        </div>
      </div>

      <div class="user-90-percent-container">
        <div class="sm-widget">
          <h3 id="h3-text">Steps Today</h3>
          <h2 id="user-view-main-text">{{ stepsToday }}</h2>
          <h6 id="h6-text">{{stepsMsg}}</h6>
        </div>
        <div class="sm-widget">
          <h3 id="h3-text">Active Minutes Today</h3>
          <h2 id="user-view-main-text">{{activeMinsToday}}</h2>
          <h6 id="h6-text">{{activeMinsMsg}}</h6>
        </div>
        <div class="sm-widget">
          <h3 id="h3-text">Steps Record<sup>&nbsp;*</sup>
            <h2 id="user-view-main-text">{{stepsRecordAllTime}}</h2>
            <h6 id="h6-text">Achieved on: {{stepsRecordDate}}</h6>
        </div>
      </div>
    </div>

    <div class="chart-wrapper">
      <div class="lg-widget" id="lg-widget-header">
        <div>
          <h3 id="h3-category-header-text">Steps</h3>
        </div>
      </div>

      <div class="lg-widget">
        <div class="spacer">
          <canvas id="line" class="chart chart-line" data="data" labels="labels" series="series">
          </canvas>
        </div>
      </div>
    </div>

    <div class="user-dashboard-container">
      <div class="user-90-percent-container">
        <div class="sm-widget" id="sm-widget-smaller">
          <h3 id="h3-text">7-day Average</h3>
          <h4 id="user-view-main-text">{{steps7DayAverage}} <span>steps</span></h4>
        </div>
        <div class="sm-widget" id="sm-widget-smaller">
          <div>
            <h3 id="h3-text">Best Day</h3>
            <h4 id="user-view-main-text">{{steps7DayBest}} <span>steps</span></h4>
          </div>
        </div>
      </div>
    </div>

    <div class="chart-wrapper">
      <div class="lg-widget" id="lg-widget-header">
        <div>
          <h3 id="h3-category-header-text">Very Active Minutes</h3>
        </div>
      </div>

      <div class="lg-widget">
        <div class="spacer">
          <canvas id="line" class="chart chart-line" data="dataActiveMins" labels="labelsActiveMins"
                  series="seriesActiveMins">
          </canvas>
        </div>
      </div>
    </div>

    <div class="user-dashboard-container">
      <div class="user-90-percent-container">
        <div class="sm-widget" id="sm-widget-smaller">
          <h3 id="h3-text">7-day Average</h3>
          <h4 id="user-view-main-text">{{activeMins7DayAverage}} <span>minutes</span></h4>
        </div>
        <div class="sm-widget" id="sm-widget-smaller">
          <h3 id="h3-text">Best Day</h3>
          <h4 id="user-view-main-text">{{activeMins7DayBest}} <span>minutes</span></h4>
        </div>
      </div>

      <a href="#/help" title="Help" target="_self"><h6 id="asterisk"><sup>*</sup>This is a potential Fitbit data issue.
        See Known Issues on help page.</h6></a>
    </div>
  </div>
</div>